body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 12, 13);
}


.body-div{
    padding: 22vh 7vw;
    color: rgb(68, 12, 13);
}


.recipe-title{
    font-size: 10vh;
} 
.recipe-tag{
    display: inline-block;
    padding: 1vh 2vh;
    margin: 1vh 0;

    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #ffffff;
    color: #99a146;

    border: 3px solid #99a146;
    border-radius: 20vh;

    user-select: none;
}
.recipe-description{
    width: 70vw;
}
.recipe-time-portions{
    display: inline-block;

    padding: 3vh 0vw 2vh 1vw;
    width: 15vw;
}



.recipe-middle-info-div{
    display: flex;
    gap: 4vw;       
    align-items: stretch; 
    
    padding: 0 4vw;
    margin-bottom: 4vh; 
    position: relative;
}
.recipe-main-photo{
    position: absolute;
    
    top: 1vw;               
    left: 1vw;              
    
    
    width: calc(100% - 2vw);
    height: calc(100% - 2vw);
    
    
    object-fit: cover;       
    object-position: center;
}
.recipe-image-container{
    flex: 1;
    max-width: 40vw;         
    position: relative;      
    border: 2px solid #dbe19c;    
    overflow: hidden;        

    padding: 10px;           
    box-sizing: border-box;

    
}

.recipe-ingredients{
    flex: 1;
}
ul.recipe-ingredients-list{
    list-style: none;
    padding-left: 0;
}
ul.recipe-ingredients-list li{
    display: flex;
    margin-bottom: 1.5vh;
}
.recipe-ingredient{
    display: inline-block;
    padding-right: 0.5vw;
    font-size: 2.5vh;
}





.recipe-steps{
    color: rgb(68, 12, 13);
}
ol.recipe-steps{
    list-style: none;
    counter-reset: step-counter;

    padding: 0;
}
ol.recipe-steps li{
    counter-increment: step-counter;
    position: relative;
    display: flex;
    align-items: center;

    padding: 4vh 2vw;

    min-height: 4vh;
    max-width: 65vw; 
    font-family: 1vh;

    border-top: 2px solid rgba(153, 161, 70, 0.7);
}
ol.recipe-steps li::before{
    content: counter(step-counter);

    position: absolute;
    transform: translateX(-160%);

    width: 5vh;
    height: 5vh;
    border-radius: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 2vh;

    color: #ffffff;
    background-color: #99a146;
    border: 3px solid #dbe19c;

}
.recipe-directions{
    padding: 4vh 6vw;
}
