{% load static %}

<link rel="stylesheet" href="{% static 'homepage.css' %}">

<div class="header">
    <div class="header_top">
        <img class="small_logo" src="{% static 'assets/cravely_logo.png' %}">
        <div class="header_right">
            <div class="search_wrapper">
                <form action="/lookup/" method="GET">
                    <input type="text" class="search_bar" name="ingredients" placeholder="Search by ingredients...">
                </form>
                <img class="filter_icon" src="{% static 'assets/filter_icon.PNG' %}">
            </div>
            <a href="{% url 'saved_recipes' %}">
                <img class="save_icon" src="{% static 'assets/save_icon.png' %}">
            </a>
            <a href="{% url 'profile' username=request.user.username %}">
                <img class="profile_icon" src="{{ request.user.profile.avatar.url }}">
            </a>
        </div>
    </div>

    <div class="header_bottom">
        <p>Breakfast</p>
        <p>Lunch</p>
        <p>Dinner</p>
        <p>Quick meals</p>
    </div>
</div>
