{% load static %}

<!DOCTYPE html>
<html>
    <head>
        
        <title>{{ recipe.title }} | Cravely</title>
        <link rel = "stylesheet" href = "{% static 'recipepage.css' %}">
        

    </head>

    <body>
        {% include 'header.html' %}
        <div class="body-div">
            <div class="recipe-title-section">

                <div class="recipe-title">
                    {{ recipe.title }}
                </div>


                <div class="recipe-tags-container">
                    {% for tag in recipe.tags.all %}
                        <span class="recipe-tag">
                            {{ tag.name }}
                        </span>
                    {% comment %} {% empty %}
                        <span> 
                            No tags for this recipe 
                        </span> {% endcomment %}
                    {% endfor %}
                </div>

                
                <h4 class="recipe-time-portions"> 
                    Total time: {{ recipe.cooking_time }} minutes
                </h4>
                <h4 class="recipe-time-portions">
                    {{ recipe.portions }} portions
                </h4>
                
            </div>



            {% if recipe.image %}
                <div class="recipe-image-container">
                    <img src="{{ recipe.image.url }}" class="recipe-main-photo">
                </div>
            {% endif %}


        

        
            <div class="recipe-ingredients">
                <h2>Ingredients</h2>
                <ul class="recipe-ingredients-list">
                {% for item in ingredients_list %}
                    <li>
                            <span class="recipe-ingredient-quantity">{{ item.quantity }}</span>
                            <span class="recipe-ingredient-name">{{ item.ingredient.name }}</span>
                    </li>
                {% endfor %}
            </ul>
            </div>


            <div class="recipe-directions">
                <h2>Directions</h2>
                <ol class="recipe-steps">
                    {% for step in steps_list %}
                        {% if step.strip %}
                            <li>{{ step.strip }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>





        </div>
      
    </body>

</html>